apiVersion: apps/v1
kind: Deployment
metadata:
  name: pulse-autoscaler
  labels:
    app: pulse-autoscaler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pulse-autoscaler
  template:
    metadata:
      labels:
        app: pulse-autoscaler
    spec:
      serviceAccountName: pulse-node-scaler
      containers:
        - name: autoscaler
          image: asia-south1-docker.pkg.dev/pulse-477304/pulse-repo/autoscaler:latest
          imagePullPolicy: Always
          env:
            - name: GCP_PROJECT
              valueFrom:
                configMapKeyRef:
                  name: pulse-config
                  key: GCP_PROJECT

            - name: EVENT_SUB
              valueFrom:
                configMapKeyRef:
                  name: pulse-config
                  key: EVENT_SUB

            - name: TARGET_DEPLOY
              valueFrom:
                configMapKeyRef:
                  name: pulse-config
                  key: TARGET_DEPLOY

            - name: NAMESPACE
              valueFrom:
                configMapKeyRef:
                  name: pulse-config
                  key: NAMESPACE

            - name: MIN_REPLICAS
              valueFrom:
                configMapKeyRef:
                  name: pulse-config
                  key: MIN_REPLICAS

            - name: MAX_REPLICAS
              valueFrom:
                configMapKeyRef:
                  name: pulse-config
                  key: MAX_REPLICAS

            - name: PROJECT_ID
              valueFrom:
                configMapKeyRef:
                  name: pulse-config
                  key: PROJECT_ID

            - name: ZONE
              valueFrom:
                configMapKeyRef:
                  name: pulse-config
                  key: ZONE

            - name: CLUSTER_NAME
              valueFrom:
                configMapKeyRef:
                  name: pulse-config
                  key: CLUSTER_NAME

            - name: NODE_POOL_NAME
              valueFrom:
                configMapKeyRef:
                  name: pulse-config
                  key: NODE_POOL_NAME
