apiVersion: apps/v1
kind: Deployment
metadata:
  name: fake-node
spec:
  replicas: 3
  selector:
    matchLabels:
      app: fake-node
  template:
    metadata:
      labels:
        app: fake-node
    spec:
      serviceAccountName: pulse-fakenode-ksa
      containers:
        - name: fake-node
          image: asia-south1-docker.pkg.dev/pulse-477304/pulse-repo/fake-node:latest
          env:
            - name: GCP_PROJECT
              valueFrom:
                configMapKeyRef:
                  name: pulse-config
                  key: FAKE_NODE_PROJECT

            - name: METRICS_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: pulse-config
                  key: METRICS_TOPIC

            - name: NODE_ID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
